body {
    background: rgb(44, 43, 43);
    color: white;
}

.navbar{
    background: gray;
    padding: 12px 40px;
    color: white;
}

.navbar ul li {
    list-style: none ;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}