<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <style>
        .navbar.navbar-dark.bg-dark.fixed-top {
            background-color: #2C6698 !important;
        }

        .navbar_name {
            color: #495661;
        }

        .offcanvas {
            background-color: white !important;
        }

        /* Estilo para el cuerpo del offcanvas */
        .offcanvas-body {
            width: 100% !important;
            height: 100% !important;
            overflow: hidden !important;
        }

        .tableFixHead {
            overflow-y: auto;
            height: 600px;
        }

        .tableFixHead thead th {
            position: sticky;
            top: 0px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px 16px;
            border: 1px solid #ccc;
        }

        th {
            background: #eee;
        }

        .buttonSelect {
            padding: 8px 16px;
            width: 100%;
        }

        .selected {
            background-color: #2C6698;
            color: white;
            padding: 8px 16px;
            width: 100%;
        }

        #boton:hover{
            background-color: #3a83c4;
            color: white;
        }

        #btnSend {
            margin-left: 0%;
            width: 150px;
            height: 50px;
            background-color: #2C6698 !important;
            border-radius: 15px;
            margin-top: 15%;
            color: white;
            font-weight: bold;
            border: #2C6698 !important;
        }

        #btnSend:hover {
            background-color: #3a83c4 !important;
            color: white;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a Bootstrap 5 CSS & JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Enlace CSS Local -->
    <link rel="stylesheet" href="/static/css/menuContabilidad.css">
    <link rel="icon" href="{% static './Images/logo_u_icesi.png'%}">
    <title>Agregar Estudiante</title>
</head>

<body>
    <header class="bg-primary text-white p-4">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" style="font-size: 30px;">
                    <img src="{% static './Images/icesi.png'%}" alt="Logo Icesi" width="165" height="50">
                    <h1 class="ms-3 mb-0">Agregar Estudiante</h1>
                </a>
                <a href="/menu_filantropia/agregar_estudiante/" tabindex="-1"
                    class="ms-auto me-4 text-decoration-none text-light">
                    <i class="fas fa-arrow-left me-1"></i> Regresar
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header" style="background-color: #2C6698 !important;">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bandeja de notificaciones</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body"
                        style="width: 335px; height: 550px; overflow: hidden; background-color: white !important;">
                        <div class="tableFixHead" style="overflow-y: scroll; height: 100%; width: 104%;">
                            <table class="table table-striped">
                                <tbody style="overflow: scroll;">
                                    {% for notificaciones in notificaciones %}
                                    <tr>
                                        <td style="width: 70%;">{{notificaciones.title}}</td>
                                        <td style="text-align: right;">
                                            <button type="button" class="btn btn-dark">
                                                <a href="{% url 'ver_noti' notificaciones.id %}"
                                                    style="text-decoration: none; color: black;">
                                                    <i class="fas fa-eye" style="color: #70BAFA;"></i>
                                                </a>
                                            </button>
                                            <button type="button" class="btn btn-dark">
                                                <a href="{% url 'eliminar_noti' notificaciones.id %}"
                                                    style="text-decoration: none; color: black;">
                                                    <i class="fas fa-trash" style="color: #dc3545;"></i>
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
        </nav>
    </header>
    <main class="container py-5">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="isNotSend">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="isSend">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <section class="card shadow" style="background-color: rgb(229, 239, 249); height: 40rem; border: 2px solid gray;">
            <div class="card-header" style="background-color: #2C6698;">
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 75%">75%</div>
                </div>
            </div>
            <div class="card-body">
                <form action="/menu_filantropia/agregar_estudiante2/" method="post" style="border-radius: 25px; margin: 0 auto; display: block;" id="segundo_formulario">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <br>
                            {% csrf_token %}
                            <div class="tableFixHead d-flex align-items-center justify-content-center">
                                <table class="table table-striped" style="background-color: #2C6698; border-radius: 25px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="background-color: #2C6698; border-radius: 25px;">
                                                Becas
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for becas in Becas %}
                                            <tr>
                                                <td>
                                                    <button type="button" class="buttonSelect" name="selected_button" value="{{ becas.id }}" id="boton" onclick="handleButtonClick(this)">
                                                        {{ becas.type }}
                                                        &nbsp; &nbsp; &nbsp;
                                                        {{ becas.percentage }}% <i class="fas fa-money-bill"></i>
                                                        {% if becas.alimentacion %}
                                                        &nbsp; &nbsp; &nbsp; <i class="fas fa-bacon"></i>
                                                        {% endif %}
                                                        {% if becas.transporte %}
                                                        &nbsp; &nbsp; &nbsp; <i class="fas fa-bus"></i>
                                                        {% endif %}
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <input type="hidden" id="selected_button_input" name="selected_button" value="{% if request.session.selected_button %}{{ request.session.selected_button }}{% endif %}">
                        <div style="text-align: center;">
                            <button type="submit" onclick="updateSessionValue()" id="btnSend">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </form>
        </section>
    </main>
    <script>
    
    // Función para manejar el clic en los botones
    function handleButtonClick(button) {
        // Eliminar la clase "selected" de cualquier otro botón
        var buttons = document.querySelectorAll(".buttonSelect");
        buttons.forEach(function (btn) {
            btn.classList.remove("selected");
        });

        // Agregar la clase "selected" al botón clickeado
        button.classList.add("selected");

        // Actualizar el valor en el campo oculto
        var selectedButtonValue = button.value;
        document.querySelector("#selected_button_input").value = selectedButtonValue;


        // Agregar una línea para imprimir el valor del botón en la consola
        console.log("Contenido del campo oculto: " + document.querySelector("#selected_button_input").value);
    }

    function updateSessionValue() {
        // Obtener el valor del botón seleccionado
        var selectedButtonValue = document.querySelector(".buttonSelect.selected").value;

        // Actualizar el valor en el campo oculto
        document.querySelector("#selected_button_input").value = selectedButtonValue;

        // Enviar el formulario
        document.getElementById("segundo_formulario").submit();
    }

    </script>
</body>

</html>