{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block titulo %}
<style>
    h1 {
        font-size: 30;
    }
</style>
<h1>Buscar Estudiante</h1>
{% endblock %}

{% block botones %}
<style>
    #homebtn {
        margin-left: 20%;
    }
</style>

{% endblock %}

{% block content %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/buscarEstud.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block tituloPagina %}
    <title>Buscar Estudiantes</title>
    {% endblock %}
</head>

<body style="background-color: #fcfdff;">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }} <a href="infoFinanciera.html" class="alert-link">Registrar!</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="container my-5" style="background-color: #cfd5e1; border-radius: 25px;">

        <div class="row">
            <div class="col-md-12 search">
                <form method="GET">

                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="form-control me-2" type="text" id="bBusqueda"
                                placeholder="Buscar Código de Estudiante" name="buscar" value="{{ request.GET.buscar}}">
                            <span class="input-group-list">
                                <i class="icon icon-search">
                                    <button class="btn btn-outline-info" type="submit" id="searchBtn">Buscar</button>
                                </i>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="tableFixHead" style="overflow: scroll; height: 350px;">
                    <table class="table table-striped" style="background-color: #cfd5e1; height: 10cm;" id="tabla">
                        <thead>
                            <tr>
                                <th>Informe ID</th>
                                <th>Nombre del Estudiante</th>
                                <th>Código del Estudiante</th>
                                <th>tipo de Beca</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="overflow: scroll;">
                            {% for estudiante in estudiante %}
                            <tr>
                                <td>{{estudiante.id}}</td>
                                <td>{{estudiante.name}} {{estudiante.lastName}}</td>
                                <td>{{estudiante.code}}</td>
                                <td>{{estudiante.beca.str}}</td>
                                <td>
                                    <a href="{% url 'modificarInfo' estudiante.code %}">
                                        <button class="editar-btn" id="editarbtn"><i
                                                class="fas fa-pencil-alt"></i></button>
                                    </a>
                                    <a href="{% url 'eliminar_estudiante' estudiante.code %}">
                                        <button class="editar-btn" id="eliminarbtn"><i
                                                class="fas fa-trash"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}