<!-- enviarMensajeModal.html -->

<div class="modal fade" id="enviarMensajeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Mensaje</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="mensajeForm" method="POST" action="{% url 'enviarMensaje' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Título del mensaje:</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
              <label for="type">Dirección del mensaje:</label>
              <input type="text" class="form-control" id="type" name="type" required>
            </div>
            <div class="form-group">
              <label for="description">Descripción:</label>
              <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  