<!DOCTYPE html>
{% extends 'base.html' %}

{% block titulo %}
<style>
  h1 {
    font-size: 30;
  }
</style>
<h1>Registrar Información Financiera</h1>
{% endblock %}

{% block botones %}
<style>
  li {
    margin-right: 50%;
  }
</style>
<li class="nav-item mr-0">
  <a href="/contabilidad" class="nav-link">Home</a>
</li>
<li class="nav-item mr-0">
  <a href="/logout" class="nav-link">Logout</a>
</li>
{% endblock %}

{% block content %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FASE ALFA</title>
</head>

<body>

  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>
      Guardar
    </button>
  </form>

</body>

</html>
{% endblock %}