<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaction</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<body style="align-items: baseline; justify-content: baseline;">

    <main class="container my-5 " style="background-color: #cfd5e1; border-radius: 25px; height: 600px; width: 750px;" >
        <br>

        <div class="row" style="height: 40px; width: 750px;">
            <div class="col-6 text-start">
                <button style="border: none; background-color: #cfd5e1;border-radius: 15px;" onclick="location.href='/menu_filantropia/'">
                    <i class="bi bi-arrow-bar-left"></i>
                </button>
            </div>
            <div class="col-6 text-end">
                <button style="border: none; background-color: #cfd5e1;border-radius: 15px;" onclick="location.href='/menu_filantropia/'">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>
        
        <form method="POST">
            <div class="row my-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        {% csrf_token %}
                        <i style="color: red;">{{ error }}</i>
                        <div class="form-group">
                            <label for="{{ form.Title.id_for_label }}"><b>Título:</b></label>
                            <br>
                            {{ form.Title }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.Type.id_for_label }}"><b>Tipo:</b></label>
                            <br>
                            {{ form.Type }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.Description.id_for_label }}"><b>Descripción:</b></label>
                            <br>
                            {{ form.Description }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.Email.id_for_label }}"><b>Correo Donante:</b></label>
                            <br>
                            {{ form.Email }}
                        </div>
                        <p>
                            <div style="text-align: center;">
                                <a class="btn" style="background-color: #a6aec1;" href="/menu_filantropia/">
                                    <b>Enviar informe</b>
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
{% endblock %}
</html>