<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
  {% load static %}
    <section class="h-100 gradient-form" style="background-color: #eee;">

        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="alert-{{ forloop.counter }}">
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close" onclick="dismissAlert({{ forloop.counter }})">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}

        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">

                      <div class="text-center mb-5">
                        <img src="{% static 'logo_icesi_grispng.png' %}"
                          style="width: 250px;" alt="logo">
                      </div>
                      <div class="text-center">
                        <h4 class="mt-1 mb-5 pb-1">STUDENT MANAGEMENT</h4>
                      </div>

                      <form action="/signin/" method="POST">
                        {% csrf_token %}

                          <div class="form-outline mb-4">
                              <h6 style="color: red; font-size: 15px;">
                                  {{error}}
                                </h6>
                          </div>

                        <p>Porfavor ingresa a tu cuenta</p>

                        <div class="form-outline mb-4">
                          <input type="username" id="form2Example11" class="form-control"
                            placeholder="Usuario"  name="username"/>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control"
                            placeholder="Contraseña" name="password"/>
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-block fa-lg gradient-custom-2 mb-3" type="submit" style="background-color:#6C788E; color:white">Ingresar</button>
                          <a class="text-muted" href="#!"></a>
                        </div>

                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">¿No tienes una cuenta?</p>
                         <button id="signupBtn" type="button" class="btn btn-outline-danger">Crear cuenta</button>
                        </div>

                      </form>

                    </div>
                  </div>
                  <div class="col-lg-6 align-items-center">
                    <div style="background-color:#6C788E; width: 537px; height: 748px; border-top-right-radius: 25px; border-bottom-right-radius: 25px;">
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>

<script>
  const signupBtn = document.getElementById('signupBtn');

  signupBtn.addEventListener('click', function(){
    location.href = '/signup';
  });


  function dismissAlert(alertId) {
      document.getElementById('alert-' + alertId).style.display = 'none';
  }

</script>