<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <title>Inicio de Sesión</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{% static './Images/logo_u_icesi.png'%}">
</head>

<body>
    <style>
        .login #ingresar {
            width: 100%;
            height: 40px;
            margin-bottom: 15px;
        }

        #ingresar {
            width: 100%;
            height: 40px;
            background-color: #337AB7;
            border: none;
            outline: none;
            font-size: 20px;
            font-weight: 700;
            border-radius: 7px;
            color: #fff;
        }

        #ingresar:hover {
            background-color: #1F4E75;
        }
    </style>
    <div class="background">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <section class="home">
        <div class="content">
            <a href="#">Universidad Icesi</a>
            <h2>Bienvenid@!</h2>
            <h3><b>Seguimiento de estudiantes</b></h3>
        </div>
        <form action="/signin/" method="POST">
            {% csrf_token %}
            <div class="login">
                <h2><b>Inicio de Sesión</b></h2>
                <div class="input">
                    <input type="text" class="input1" placeholder="Correo"id='mail' name="username" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input">
                    <input type="password" class="input1" placeholder="Contraseña" id="password" name="password" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="button">
                    <button class="btn" type="submit" id="ingresar">Ingresar</button>
                    <a class="text-muted" href="#!"></a>
                </div>
                <div class="sign-up">
                    <p>¿No tienes una cuenta?</p>
                    <a href="#" id="signupBtn"> Registrar </a>
                </div>
            </div>
        </form>
    </section>
</body>

</html>
<script>
    const signupBtn = document.getElementById('signupBtn');

    signupBtn.addEventListener('click', function () {
        location.href = '/signup';
    });


    function dismissAlert(alertId) {
        document.getElementById('alert-' + alertId).style.display = 'none';
    }

</script>